

# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    working_directory: ~/ant-with-ivy
    
    docker:
      # specify the version you desire here
      #- image: circleci/openjdk:8-jdk-browsers
      - image: circleci/openjdk:8-jdk
    
    steps:
    
      - checkout
      
      - run: 
          name: install
          command: |
            ls /home/circleci/.ant/lib
            ls /opt/apache-ant/lib
            ls /home
            ls /opt
            
      - run: 
          name: install dependencies
          command: |
            sudo su -c 'echo "deb http://deb.debian.org/debian jessie-backports main" >> /etc/apt/sources.list'
            sudo rm -rf /var/lib/apt/lists/*
            sudo apt-get update
            sudo apt install -t jessie-backports  openjdk-8-jre-headless ca-certificates-java
            
            
      - run: bash <(curl -s https://copilot.blackducksoftware.com/ci/circle/scripts/upload)
      - run: bash <(curl -s https://scripts.scantist.com/staging/ci-circle-jar.sh)   
